
/*
browser-sync start --server --files "**/*.css, **/*.html"
browser-sync start --server --files "**"
*/

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 16px/24px helvetica,arial,sans-serif;
    color: #333;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
    line-height: 40px;
}

.screen {
    height: 40px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.row {
}

.equal-left {
    width: 270px;
    display: inline-block;
}

.cell {
    display: inline-block;
    border: 1px solid #eee;
    margin: 5px;
    width: 70px;
    height: 40px;
    vertical-align: middle;
}

.cell:hover {
    background: #eee;
}

.zero {
    width: 140px;
}

.equal {
    height: 70px;
    line-height: 80px;
    display: inline-block;
    margin-top: 0;
}

button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 40px auto;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background: #eee;
    color: #999;
    font-weight: 600;
}
